* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

.form-control {
    height: 40px;
    width: 300px;
}

body {
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
}

#preview {
    display: block;
    width: 200px;
    height: 200px;
    border-raidus: 10px;
    margin-top: 30px;
}

.flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

nav {
    display: block;
    float: left;
}

.image-table {
    padding-left: 50px;
}

#button-req {
    padding-top: 10px;
}